
services:
  db:
    image: postgres:15
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      # проверяем, готова ли база принимать соединения, иначе api падает
      test: ["CMD-SHELL", "pg_isready -U user -d exam_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: ./api
  # Сначала запускаем миграцию, потом сервер
    command: >
      sh -c "alembic upgrade head && 
           uvicorn main:app --host 0.0.0.0 --port 8000"
    depends_on:
      db:
        condition: service_healthy
    env_file: .env

  bot:
    build: ./bot
    command: python bot.py
    depends_on:
      - api
    env_file: .env

volumes:
  pg_data: